<h2 class="text-center mt-5"> Кабінет користувача </h2>

<div class="grid grid-cols-3 gap-4 m-5">
  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="warn">logout</mat-icon>
    <p class="text-lg font-bold mt-2">Вийти з аккаунту</p>
    <button mat-raised-button color="warn">Вийти</button>
  </mat-card>

  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="primary">bakery_dining</mat-icon>
    <p class="text-lg font-bold mt-2">Звіт за кожним виробом</p>
    <button mat-raised-button color="primary">Завантажити</button>
  </mat-card>

  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="primary">person</mat-icon>
    <p class="text-lg font-bold mt-2">Звіт за кожним замовником</p>
    <button mat-raised-button color="primary">Завантажити</button>
  </mat-card>

  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="accent">receipt_long</mat-icon>
    <p class="text-lg font-bold mt-2">Звіт по замовленням</p>
    <button mat-raised-button color="accent">Завантажити</button>
  </mat-card>

  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="accent">trending_up</mat-icon>
    <p class="text-lg font-bold mt-2">Динаміка замовлень (замовники)</p>
    <button mat-raised-button color="accent">Завантажити</button>
  </mat-card>

  <mat-card class="flex flex-col items-center p-4">
    <mat-icon color="accent">show_chart</mat-icon>
    <p class="text-lg font-bold mt-2">Динаміка замовлень (вироби)</p>
    <button mat-raised-button color="accent">Завантажити</button>
  </mat-card>
</div>
