<mat-toolbar *ngIf="userData">
  <a mat-button routerLink="/">
    <mat-icon>storefront</mat-icon>
    Bakery
  </a>

  <div class="nav-links" *ngIf="!isMobile">
    <a routerLink="/users" mat-button>Користувачі</a>
    <a routerLink="/logs" mat-button>Журнал</a>
    <a routerLink="/orders" mat-button>Замовлення</a>
    <a routerLink="/products" mat-button>Продукти</a>
  </div>

  <span class="spacer"></span>

  <a routerLink="/cabinet" mat-button *ngIf="!isMobile">
    <mat-icon>person</mat-icon>
    Кабінет
  </a>

  <button
    *ngIf="isMobile"
    mat-mini-fab
    [matMenuTriggerFor]="burgerMenu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #burgerMenu="matMenu">
    <button mat-menu-item routerLink="/users">Користувачі</button>
    <button mat-menu-item routerLink="/logs">Журнал</button>
    <button mat-menu-item routerLink="/orders">Замовлення</button>
    <button mat-menu-item routerLink="/products">Продукти</button>
    <button mat-menu-item routerLink="/cabinet">Кабінет</button>
  </mat-menu>
</mat-toolbar>
