<h2 class="text-center mt-10 text-[56px]">Список заявок</h2>
  @if (user.role === roles.User) {
    <div class="flex justify-end mx-auto w-[1270px]">
      <button mat-fab extended class="!text-[36px]" (click)="createLoanApplication()">
        <mat-icon class="!text-[36px] !size-[36px]">paid</mat-icon>Створити заявку
      </button>
    </div>
  }

<div class="m-5 p-5 flex border flex-col justify-center mat-elevation-z8">
  @if (user) {
    <div class="flex flex-col items-center gap-[50px]">
      @for (loanApplication of dataSource; track loanApplication.id ) {
        <app-loan-application-item [loanApplication]="loanApplication" [role]="user.role"></app-loan-application-item>
      }
      <mat-paginator
        [length]="totalSize"
        [pageSize]="paginationParams.size"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  }
</div>
